.country {
  @include get-size(189px, 100%);
}

.country img {
  width: 100%;
  height: 110px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.country__link {
  @include style-reset;
}

.country__info {
  @include get-size(89px, 100%);
  position: relative;
  margin-top: -10px;
  border-radius: 10px;
  background-color: #ffffff;
  padding: 25px 25px 10px;
  z-index: 1;
  
  &::before {
    @include pseudo-element(35px, 24px);
    top: 0;
    left: 25px;
    transform: translateY(-50%);
  }
}

.country__info {
  &--france::before {
    @include bg-image('france@1x.png', center, center, 35px 24px);
  }
  &--thailand::before {
    @include bg-image('thailand@1x.png', center, center, 35px 24px);
  }
  &--czech::before {
    @include bg-image('czech@1x.png', center, center, 35px 24px);
  }
}

.country__title-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.country__title {
  @include style-reset;
  @include font-style(21px, 21px, 700, #161c35);
  @include get-size(21px, 150px);
  display: block;
  flex-shrink: 0;
  overflow: hidden;
}

.country__visitors {
  @include style-reset;
  @include font-style(16px, 18px, 500, #444444);
  @include get-size(18px, 70px);
  position: relative;
  display: block;
  flex-shrink: 0;
  overflow: hidden;
  text-align: right;
  padding-left: 11px;
  opacity: 0.3;
  
  &::before {
    @include pseudo-element(11px, 11px);
    @include bg-image('user.svg', center, center, 11px 11px);
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }
}

.country__slogan {
  @include style-reset;
  @include font-style(16px, 18px, 500, #444444);
  opacity: 0.3;
}