.country {
  @include get-size(189px, 100%);
}

.country img {
  width: 100%;
  height: 110px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.country__link {
  @include style-reset;
  display: block;
  width: 100%;
  height: 110px;
  transition: all 0.2s;

  &:hover,
  &:focus {
    outline: none;
    filter: grayscale(100%);
  }

  &:active {
    opacity: 0.3;
  }
}

.country__title-link {
  transition: opacity 0.2s;

  &:hover,
  &:focus {
    opacity: 0.7;
    outline: none;
  }

  &:active {
    opacity: 0.3;
  }
}

.country__info {
  @include get-size(89px, 100%);
  position: relative;
  margin-top: -12px;
  border-radius: 10px;
  background-color: #ffffff;
  padding: 27px 24px 10px;
  z-index: 1;

  &::before {
    @include pseudo-element(35px, 24px);
    top: 0;
    left: 25px;
    transform: translateY(-50%);
  }

  &--france::before {
    @include bg-image("france@1x.png", center, center, 35px 24px);
  }

  &--thailand::before {
    @include bg-image("thailand@1x.png", center, center, 35px 24px);
  }

  &--czech::before {
    @include bg-image("czech@1x.png", center, center, 35px 24px);
  }
}

.country__title-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.country__title {
  @include style-reset;
  @include font-style(21px, 21px, 700, #161c35);
  @include get-size(21px, 150px);
  display: block;
  flex-shrink: 0;
  overflow: hidden;
  margin-bottom: 2px;
}

.country__visitors {
  @include style-reset;
  @include font-style(16px, 18px, 500, #444444);
  min-height: 18px;
  position: relative;
  display: block;
  flex-shrink: 0;
  overflow: hidden;
  text-align: right;
  padding-left: 18px;
  opacity: 0.3;

  &::before {
    @include pseudo-element(11px, 11px);
    @include bg-image("user.svg", center, center, 11px 11px);
    top: 50%;
    left: 0;
    transform: translateY(-62%);
  }
}

.country__slogan {
  @include style-reset;
  @include font-style(16px, 18px, 500, #444444);
  opacity: 0.3;
}

@media ($breakpoints-medium) {
  .country {
    @include get-size(140px, 100%);
    display: flex;
    align-items: flex-start;
    flex-direction: row-reverse;
  }

  .country img {
    width: 186px;
    height: 140px;
    border-top-left-radius: 0;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  .country__link {
    width: 186px;
    height: 140px;
    flex-shrink: 0;
  }

  .country__info {
    @include get-size(140px, 100%);
    margin-top: 0;
    border-radius: 20px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding: 30px 39px 51px 31px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &::before {
      @include pseudo-element(70px, 47px);
      top: 16px;
      left: auto;
      right: 0;
      transform: translateY(0) translateX(50%);
    }

    &--france::before {
      @include bg-image("france@1x.png", center, center, 70px 47px);
    }

    &--thailand::before {
      @include bg-image("thailand@1x.png", center, center, 70px 47px);
    }

    &--czech::before {
      @include bg-image("czech@1x.png", center, center, 70px 47px);
    }
  }

  .country__title-wrapper {
    align-items: flex-start;
  }

  .country__title {
    @include font-style(24px, 26px, 700, #161c35);
    @include get-size(24px, 300px);
    margin-bottom: 2px;
  }

  .country__visitors {
    @include font-style(20px, 22px, 500, #444444);
    min-height: 22px;
    position: absolute;
    left: 33px;
    bottom: 22px;
    padding-left: 28px;

    &::before {
      width: 20px;
      height: 20px;
      background-size: 20px 20px;
    }
  }

  .country__slogan {
    @include font-style(20px, 22px, 500, #444444);
  }
}
