.directions {
  position: relative;
  width: 100%;
  padding-left: 25px;
  padding-right: 25px;
  background-color: $second-bg-color;
  padding-bottom: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  padding-top: 31px;
  margin-top: -35px;
  z-index: 4;
}

.directions__content-container {
  width: 100%;
  max-width: $mobile-max-width;
  padding-top: 72px;
  margin: 0 auto;
}

.directions__title {
  padding-left: 24px;
  margin-bottom: 20px;
}

.directions__info {
  @include style-reset;
  @include get-size(113px, 81%);
  @include font-style(16px, 22px, 300, #444444);
  padding-left: 24px;
  margin-bottom: 58px;
}

.descriptions__countries-list {
  @include default-list;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 16px;

  &::after {
    @include pseudo-element(100%, 81px);
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url("../img/fade.png");
    background-repeat: repeat-x;
    z-index: 2;
  }
}

.descriptions__country {
  @include get-size(189px, 100%);
  margin-bottom: 10px;
}

.descriptions__button {
  width: 100%;
}

@media ($breakpoints-medium) {
  .directions {
    padding-left: 40px;
    padding-right: 40px;
    min-width: 768px;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
    padding-bottom: 81px;
  }

  .directions__content-container {
    max-width: none;
    padding-left: 34px;
    padding-right: 35px;
  }

  .directions__title {
    padding-left: 0;
    margin-bottom: 58px;
  }

  .directions__info {
    @include get-size(165px, 56%);
    @include font-style(28px, 33px, 300, #444444);
    padding-left: 0;
    margin-bottom: 107px;
  }

  .descriptions__country {
    @include get-size(140px, 100%);
    margin-bottom: 10px;
  }

  .descriptions__countries-list {
    margin-bottom: 36px;
  }
}

@media (min-width: 321px) {
  .descriptions br {
    display: none;
  }
}