.feedback {
  position: relative;
  width: 100%;
  background-color: $primary-bg-color;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  margin-top: -35px;
  z-index: 1;
}

.feedback__content-container {
  width: 100%;
  height: 100%;
  max-width: $mobile-max-width;
  padding: 107px 25px 27px 25px;
  margin: 0 auto;
}

.feedback__title {
  width: 100%;
  text-align: center;
  margin-bottom: 19px;
}

.feedback__text {
  display: block;
  width: 80%;
  text-align: center;
  margin: 0 auto;

  &--top {
    min-height: 44px;
  }

  &--bottom {
    min-height: 44px;
    margin-bottom: 28px;
  }
}

.feedback__link {
  @include style-reset;
  @include font-style(16px, 22px, 300, #ffd74b);
  transition: color 0.2s ease 0s, opacity 0.2s ease 0s;

  &:hover,
  &:focus {
    outline: none;
    color: #ff8d30;
  }

  &:active {
    opacity: 0.3;
  }
}

.feedback__register {
  width: 100%;
  position: relative;
  margin-bottom: 27px;
}

.feedback__input {
  position: relative;
  z-index: 0;
  height: 62px;
  width: 100%;
  background-color: #ffffff;
  border: none;
  border-radius: 10px;
  padding: 13px 60px 14px 23px;
  transition: background 0.2s;
  box-shadow: none;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;

  &::placeholder {
    @include font-style(18px, 18px, 700, #444444);
    transition: opacity 0.2s ease 0s;
    opacity: 0.3;
  }

  &:focus {
    padding: 7px 56px 10px 19px;
  }

  &:hover::placeholder,
  &:focus::placeholder {
    @include font-style(18px, 18px, 700, #444444);
    opacity: 0.5;
  }

  &:active,
  &:focus {
    @include font-style(24px, 24px, 700, #ffffff);
    border: 4px solid #ffffff;
    outline: none;
    background-color: $primary-bg-color;
  }

  &:active::placeholder,
  &:focus::placeholder {
    opacity: 0;
  }
}

.feedback__button {
  position: absolute;
  top: 0;
  right: 0;
}

.feedback__additional-nav {
  margin-top: 22px;
}

@media (max-width: 350px) {
  .feedback__new-line {
    display: block;
  }
}

@media ($breakpoints-medium) {
  .feedback {
    min-width: 768px;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
    margin-top: -65px;
    background-color: #192144;
  }

  .feedback__content-container {
    max-width: none;
    padding: 141px 75px 57px 75px;
  }

  .feedback__title {
    margin-bottom: 57px;
  }

  .feedback__text {
    font-size: 28px;
    line-height: 33px;
    width: 100%;

    &--top {
      min-height: auto;
      margin-bottom: 0;
    }

    &--bottom {
      min-height: auto;
      margin-bottom: 61px;
    }
  }

  .feedback__link {
    font-size: 28px;
    line-height: 33px;
  }

  .feedback__input {
    height: 81px;
    border-radius: 20px;
    padding: 15px 60px 14px 35px;
    font-size: 24px;
    line-height: 24px;
    font-weight: 700;

    &:focus {
      padding: 11px 56px 10px 31px;
    }

    &::placeholder {
      font-size: 24px;
      line-height: 24px;
    }

    &:hover::placeholder,
    &:focus::placeholder {
      font-size: 24px;
      line-height: 24px;
    }
  }

  .feedback__register {
    margin-bottom: 59px;
  }

  .feedback br {
    display: none;
  }

  .feedback__additional-nav {
    margin-top: 41px;
    align-items: flex-start;
  }
}

@media ($breakpoints-large) {
  .feedback {
    min-width: 1440px;
  }

  .feedback__content-container {
    width: 1440px;
    padding-top: 166px;
    padding-left: 132px;
    padding-right: 132px;
  }
  
  .feedback__input {
    padding-right: 326px;
  }
}