.main-nav__logo {
  @include bg-image('logo-mobile-white@1x.png', center, center);
}

.main-nav--nojs .main-nav__logo {
  @include bg-image('logo-mobile-blue@1x.png', center, center);
}

.main-nav--opened .main-nav__logo {
  @include bg-image('logo-mobile-blue@1x.png', center, center);
  transition: background 0s ease 0s;
}

.main-nav--scroll .main-nav__logo {
  @include bg-image('logo-mobile-blue@1x.png', center, center);
}

.main-nav--closed .main-nav__logo {
  @include bg-image('logo-mobile-white@1x.png', center, center);
  transition: background 0s ease 0.4s;
}

.main-nav__scroll-container {
  position: relative;
  width: 100%;
  height: 73px;
  padding: 0 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}

.main-nav--nojs .main-nav__scroll-container,
.main-nav--scroll .main-nav__scroll-container {
  background: #ffffff;
}

.main-nav--closed .main-nav__scroll-container {
  transition: background 0.1s ease 0.4s;
  background: transparent;
}

.main-nav--opened .main-nav__scroll-container {
  transition: background 0.1s ease 0s;
  background: #ffffff; 
}

.main-nav__animation-container {
  width: 100%;
  padding: 40px 25px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  z-index: 9;
  transform: translateY(-120%);
}

.main-nav--nojs .main-nav__animation-container {
  transform: translateY(0);
}

.main-nav--opened .main-nav__animation-container {
  transform: translateY(0);
  transition: transform 0.4s ease 0.2s;
}

.main-nav--closed .main-nav__animation-container {
  transform: translateY(-120%);
  transition: transform 0.4s ease 0s;
}

.main-nav__toggle {
  @include style-reset;
  margin-right: -18px;
  position: relative;
  font-size: 0;
  width: 25px;
  height: 11px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  &::before {
    @include pseudo-element(25px, 3px);
    top: 0;
    left: 0;
    border-radius: 1px;
    background-color: #ffffff;
  }

  &::after {
    @include pseudo-element(25px, 3px);
    bottom: 0;
    left: 0;
    border-radius: 1px;
    background-color: #ffffff;
  }

  &:focus {
    outline: none;
  }
}

.main-nav--nojs .main-nav__toggle {
  display: none;
}

.main-nav--opened .main-nav__toggle {
  &::before {
    transform: translateY(4px) rotate(45deg);
    background-color: #cccccc;
    transition: transform 0.2s ease 0s;
  }

  &::after {
    transform: translateY(-4px) rotate(-45deg);
    background-color: #cccccc;
    transition: transform 0.2s ease 0s;
  }
}

.main-nav--closed .main-nav__toggle {
  &::before {
    @include pseudo-element(25px, 3px);
    top: 0;
    left: 0;
    border-radius: 1px;
    background-color: #ffffff;
    transition: transform 0.2s ease 0s, background 0.1s ease 0.4s;
  }

  &::after {
    @include pseudo-element(25px, 3px);
    bottom: 0;
    left: 0;
    border-radius: 1px;
    background-color: #ffffff;
    transition: transform 0.2s ease 0s, background 0.1s ease 0.4s;
  }
}

.main-nav--scroll .main-nav__toggle {
  &::before {
    @include pseudo-element(25px, 3px);
    top: 0;
    left: 0;
    border-radius: 1px;
    background-color: #cccccc;
    transition: transform 0.2s;
  }

  &::after {
    @include pseudo-element(25px, 3px);
    bottom: 0;
    left: 0;
    border-radius: 1px;
    background-color: #cccccc;
    transition: transform 0.2s;
  }
}

.main-nav__site-nav {
  width: 100%;
  margin-left: 17px;
  margin-bottom: 53px;
}
