.page-footer {
  position: relative;
  min-height: 239px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  background-color: #ffffff;
  margin-top: -67px;
  padding: 37px 25px 10px;
  z-index: 4;
}

.page-footer__logo {
  margin-bottom: 39px;
}

.page-footer__social-list {
  margin-bottom: 36px;
}

.page-footer__copyright {
  width: 100%;
  max-width: $mobile-max-width;
  margin: 0 auto;
}
